.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7af;
  height: 10vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.App-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.App-link {
  color: #236;
  text-decoration: none;
  font-weight: bold;
}

.App-link:hover {
  text-decoration: underline;
}

.App-section {
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 30px;
  flex: 1 1 48%;
}

.App-preview {
  max-width: 48%;
  word-wrap: break-word;
  overflow-y: auto;
}